<div class="home-slides owl-carousel owl-theme">
    <div class="main-banner item-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content text-center">
                        <span>Cuatro Patas</span>
                        <h1>El mejor sitio para tus <b>Mascotas</b></h1>
                        <p>Te brindamos una cantidad de servicios para tus mascotas</p>
                        <!-- <div class="btn-box">
                            <a href="#about" class="btn btn-primary">Get Started</a>
                            <span>or</span>
                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"><i class="icofont-ui-play"></i> Watch Video</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-banner item-bg3">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content text-center">
                        <span>Cuatro Patas</span>
                        <h1>El mejor sitio para tus <b>Mascotas</b></h1>
                        <p>Te brindamos una cantidad de servicios para tus mascotas</p>
                        <!-- <div class="btn-box">
                            <a href="#about" class="btn btn-primary">Get Started</a>
                            <span>or</span>
                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"><i class="icofont-ui-play"></i> Watch Video</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-banner item-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content text-center">
                        <span>Cuatro Patas</span>
                        <h1>El mejor sitio para tus <b>Mascotas</b></h1>
                        <p>Te brindamos una cantidad de servicios para tus mascotas</p>
                        <!-- <div class="btn-box">
                            <a href="#about" class="btn btn-primary">Get Started</a>
                            <span>or</span>
                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"><i class="icofont-ui-play"></i> Watch Video</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-features></app-features>

<app-about></app-about>

<app-services></app-services>























